@import url('https://rsms.me/interface/interface.css');

html {
  font-family: Interface, sans-serif;
  font-size: 16px;
}

.page-container {
    overflow: hidden;
}

/*  --- Sidebar Styling --- */

.sidebar {
    position: fixed;
    background-color: #FFF;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    /*min-width: 350px;*/
    border-right: solid 1px rgb(214, 215, 215);
    overflow: scroll;
}

.sidebar-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 75px;

    background-color: rgba(250,250,250,0.75);
    border-bottom: solid 1px rgb(214,215,215);
    -webkit-backdrop-filter: blur(25px);
    z-index: 2;
}

.sidebar-head > h1 {
    margin-top: 15px;
    padding-bottom: 10px;
    line-height: 48px;
    margin-left: 25px;
    margin-right: 25px;

    font-size: 2rem;
    color: #454ADE;
    border-bottom: solid 3px #454ADE;
}

.sidebar-content {
    margin-top: 75px;
    margin-bottom: 60px;
    left: 0;
    bottom: 60px;
    width: 100%;
    overflow-y: scroll;

    z-index: -1;
}

.sidebar-yarn {
    margin-top: 0;
    margin-bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;

    border-top: solid 1px rgb(214,215,215);
    border-bottom: solid 1px rgb(214,215,215);

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.yarn-image {
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 12px;
    border: solid 1px rgb(214,215,215);
    box-shadow: 0px 2px 10px 0 rgba(80,90,90,0.2);
    background-color: red;
    width: 60px;
    height: 60px;
    display: inline-block;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar .star-wars > .yarn-image {
    background-image: url(../media/vader.jpg);
}

.sidebar .graphic-design > .yarn-image {
    background-image: url(../media/hand-drawing.jpg);
}

.sidebar .the-expanse > .yarn-image {
    background-image: url(../media/expanse.jpg);
    background-position: right;
}

.sidebar .the-joy-of-painting > .yarn-image {
    background-image: url(../media/bobross.jpg);
}

.sidebar .argument-clinic > .yarn-image {
    background-image: url(../media/angry-man.jpg);
}

.sidebar .active-yarn {
    background-color: rgb(245, 245, 251);
    box-shadow: inset 5px 0px 0px 0px rgb(69, 74, 222);
}

.yarn-details {
    margin-left: 20px;

}

.sidebar-yarn h3 {
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 1.2rem;
    color: rgb(40,50,45);
}

.yarn-flags {
    margin-top: -20px;
}

.spoiler-flag {
    display: inline-block;
    border: solid 3px rgb(242,153,74);
    border-radius: 4px;
    padding: 2px 6px 2px 6px;
    color: rgb(242,153,74);
    font-weight: 900;
    text-align: center;

}

.nsfw-flag {
    display: inline-block;
    border: solid 3px rgb(235,87,87);
    border-radius: 4px;
    padding: 2px 6px 2px 6px;
    color: rgb(235,87,87);
    font-weight: 900;
    text-align: center;
}

.thread-flag {
    display: inline-block;
    border: solid 3px rgb(69, 74, 222);
    border-radius: 4px;
    padding: 2px 6px 2px 6px;
    color: rgb(69, 74, 222);
    font-weight: 900;
    text-align: center;
}

.sidebar-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 50px;

    padding: 0 20px 0 20px;
    box-sizing: border-box;
    border-top: solid 1px rgb(214,215,215);
    background-color: rgba(250,250,250, 0.75);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;

    -webkit-backdrop-filter: blur(25px);

    z-index: 20;
}

.nav-icon {
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}

.active {
    border-top: solid 3px #454ADE;
    height: 50px;
}

.nav-recent {
    background: url(../media/nav-icons/nav_recent_active.svg) no-repeat center;
    background-size: contain;
}

.nav-popular {
    background: url(../media/nav-icons/nav_popular_inactive.svg) no-repeat center;
    background-size: contain;
}

.nav-categories {
    background: url(../media/nav-icons/nav_categories_inactive.svg) no-repeat center;
    background-size: contain;
}

.nav-search {
    background: url(../media/nav-icons/nav_search_inactive.svg) no-repeat center;
    background-size: contain;
}

.nav-new {
    background: url(../media/nav-icons/nav_new_inactive.svg) no-repeat center;
    background-size: contain;
}

/*  --- Main Content Styling --- */

.main-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    max-width: calc(100% - 350px);
}

.active-yarn {
    overflow-y: scroll;
}

.yarn-title {
    position: fixed;
    top: 0;
    left: 350px;
    right: 0;
    height: 75px;

    border-bottom: solid 1px rgb(214,215,215);
    border-left: solid 1px rgb(214,215,215);
    background-color: rgba(250,250,250, 0.75);
    -webkit-backdrop-filter: blur(10px);

    z-index: 2;
}

.yarn-title > h1 {
    margin-top: 15px;
    line-height: 48px;
    padding-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;

    font-size: 2rem;
    color: #454ADE;
    border-bottom: solid 3px #454ADE;
    z-index: 2;
}

.yarn-thread {
    /*height: auto;*/
    margin-top: 85px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 60px;
    overflow-y: scroll;
}

.inline-thread {
    margin-bottom: 8px;
    margin-top: 8px;
    clear: both;
    float: left;
    width: 100%;
    background-color: rgb(245, 245, 251);
    border-radius: 20px;
    padding: 0px 15px 10px 15px;
    box-sizing: border-box;

    overflow: hidden;
    height: 3.5rem;

    transition: 0.3s;
}

.inline-open {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 75px;
    bottom: 65px;
    height: auto;
    width: auto;
    overflow: scroll;

    transition: 0.3s;
}

.inline-arrow-spin {
    transform: rotate(180deg);
    transition: 0.2s;
}

.inline-header {
    cursor: pointer;
}

.inline-header > .material-icons {
    float: left;
    margin-top: 2px;
    margin-left: -10px;
    margin-right: 15px;
    font-size: 3rem;
    color: rgb(69,74,222);
    transition: 0.2s;
}

.inline-header > .thread-flag {
    float: right;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.inline-header > .spoiler-flag {
    float: right;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.inline-thread-title {
    color: rgb(69,74,222);
    font-size: 1.2rem;
    float: left;
    margin-top: 17px;
}

.received-message {
    clear: both;
    float: left;
    background-color: rgb(221, 221, 238);
    width: fit-content;
    max-width: 75%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 12px 5px 12px;
    border-radius: 25px;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: rgb(35, 35, 41);
}

.sent-message {
    clear: both;
    float: right;
    background-color: rgb(69, 74, 222);
    width: fit-content;
    max-width: 75%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 12px 5px 12px;
    border-radius: 25px;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: rgb(230, 229, 250);
}

.received-message:last-of-type {
    margin-bottom: 70px;
}

.sent-message:last-of-type {
    margin-bottom: 70px;
}

.sign-in-error {
    position: fixed;
    bottom: -100px;
    left: 350px;
    right: 0;
    height: 40px;
    width: calc(100% - 350px);

    background-color: rgba(255, 208, 190, 0.5);
    border-top: solid 1px rgb(255,72,0);
    -webkit-backdrop-filter: blur(10px);

    padding: 0 15px 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    transition: 0.2s;
}

.sign-in-error > i, .sign-in-error > h5 {
    color: rgb(255,72,0);
}

.yarn-send {
    position: fixed;
    bottom: 0;
    left: 350px;
    right: 0;
    height: 50px;
    margin-top: 60px;
    width: calc(100% - 350px);

    padding: 0 15px 0 15px;
    box-sizing: border-box;
    background-color: rgba(250,250,250, 0.75);
    border-left: solid 1px rgb(214,215,215);
    border-top: solid 1px rgb(214,215,215);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;

    -webkit-backdrop-filter: blur(25px);

    z-index: 2;
}

.yarn-send > .material-icons {
    color: rgb(69,74,222);
    font-size: 2rem;
}

.send-message {
    cursor: pointer;
}

.message-field {
    width: calc(100% - 110px);
    height: 32px;
    border: solid 1px rgb(194,195,195);
    border-radius: 12px;
    background-color: rgba(233, 236, 244, 0.35);
    padding: 0 10px 0 10px;
    -webkit-backdrop-filter: blur(25px);
}

.star-wars-yarn {
    display: none;
}

.graphic-design-yarn {
    display: none;
}

.the-expanse-yarn {
    display: none;
}

.the-joy-of-painting-yarn {
    display: none;
}

.argument-clinic-yarn {
    display: none;
}

@media(max-width:720px) {
    html {
        font-size: 14px;
    }

    .sidebar {
        width: 100%;
        z-index: 2;
    }

    .sidebar-head {
        width: 100%;
        height: 80px;
        z-index: 2;
    }

    .sidebar-head > h1 {
        margin-top: 25px;
        padding-bottom: 5px;
    }

    .sidebar-nav {
        width: 100%;
        z-index: 2
    }

    .main-content {
        width: 100%;
        z-index: -2;
    }
}
